<ion-view>
  <ion-nav-title>
    Bluetooth connection<img src="./img/icon.png" class="logo">
  </ion-nav-title>
<ion-content>

  <error-header
    ng-controller="errorController"
    ng-show="showErrorHeader === true"
  ></error-header>

  <div class="row bluetooth-row">
    <div class="col col-center" >
      <div class="item item-divider">
        <p class="bluetooth-text log-text">Connection status</p>
        <button class="button button-small button-calm button-log" on-tap="openHelpModal()">
          Help
        </button>
        <button class="button button-small button-assertive button-log" ng-show="isConnected" on-tap="userDisconnect()">
          Disconnect
        </button>
      </div>

      <connection-status
        ng-controller="connectionStatusCtrl"
      ></connection-status>

      <div class="item item-divider" ng-hide="isConnected || !bluetoothEnabled">
        <p class="bluetooth-text">Available devices</p>
      </div>

      <div id="bluetooth-available-devices-div" ng-model="availableDevices" ng-hide="isConnected || !bluetoothEnabled">

        <!--Shown when searchingForDevices for unpaired devices-->
        <div
          class="item item-text-wrap"
          ng-show="availableDevices.length === 0 && !noUnpairedDevices"
        >
          <p class="bluetooth-text">Searching for unpaired devices...</p>
        </div>

        <!--Shown when unpaired devices are found-->
        <div
          class="item item-text-wrap"
          ng-repeat="device in availableDevices track by $index"
          on-tap="connectToUnpairedDevice($index)"
          ng-show="!noUnpairedDevices"
        >
          <p class="bluetooth-text">{{device.name}} {{device.id}}</p>
          <button class="button button-small button-calm">Connect</button>
        </div>

        <!--Shown when no unpaired devices are found-->
        <div class="item item-text-wrap" ng-show="availableDevices.length === 0 && noUnpairedDevices">
          <p class="bluetooth-text">
            No devices could be discovered.
            <br>If you're sure that your device is powered on, click this button to pair manually:
            <button class="button button-small button-calm" on-tap="openBluetoothSettings()">
              Bluetooth settings
            </button>
          </p>
        </div>

      </div>

      <div class="item item-divider" ng-hide="isConnected || !bluetoothEnabled">
        <p class="bluetooth-text">Paired devices</p>
      </div>

      <div  id="bluetooth-paired-devices-div" ng-model="pairedDevices" ng-hide="isConnected || !bluetoothEnabled">
        <div class="item item-text-wrap" ng-repeat="device in pairedDevices track by $index"  on-tap="connectToPairedDevice($index)">
          <p class="bluetooth-text">{{device.name}} {{device.id}}</p>
          <button class="button button-small button-calm bluetooth-connect-button">Connect</button>
        </div>
        <div class="item item-text-wrap" ng-show="!pairedDevices.length">
          <p class="bluetooth-text">No paired Bluetooth devices are available</p>
        </div>
      </div>

      <div class="item item-divider" ng-show="!bluetoothEnabled">
        <p class="bluetooth-text log-text">Control buttons</p>
    </div>
      <div class="item item-text-wrap" ng-show="!bluetoothEnabled">
        <button class="button button-calm" ng-hide="bluetoothEnabled" on-tap="bluetoothOn()">Turn on Bluetooth</button>
      </div>
      <div class="item item-divider">
        <p class="bluetooth-text log-text">Activity log</p>
        <button class="button button-small button-calm button-log" on-tap="showFullLog()">Show full log</button>
      </div>
      <div class="item item-text-wrap">
        <p class="bluetooth-text" ng-repeat="message in bluetoothLog | limitTo: 10 track by $index ">
          {{message}}
        </p>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>


<modals></modals>
