<ion-view view-title="Program {{ currentProgram.title}}">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label" on-tap="focus()">
        <span class="input-label">Saw width (mm)</span>
        <input type="number" placeholder="Example: 5" ng-model="currentProgram.sawWidth">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Cut width (mm)</span>
        <input type="number" placeholder="Example: 20" ng-model="currentProgram.cutWidth">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Pin width (mm)</span>
        <input type="number" placeholder="Example: 20" ng-model="currentProgram.pinWidth">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Number of cuts</span>
        <input type="number" placeholder="Limited to 2 in unregistered version" ng-model="currentProgram.numberOfCuts"   >
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Start position (mm)</span>
        <input type="number" placeholder="Example: 50" ng-model="currentProgram.startPosition">
      </label>
    </div>
    <div class="padding" id="program-buttons-div">
      <button class="button button-balanced" on-tap="runProgram()"> Run program</button>
      <button class="button button-calm" on-tap="openModal(2)">Save  <i class="glyphicon glyphicon-floppy-save"></i> </button>
      <button class="button button-calm" on-tap="openModal(1)">Load  <i class="glyphicon glyphicon-floppy-open"></i> </button>
    </div>
    <div id="graphic-outer" class="padding">
      <img class="img-responsive" src="img/graphic.png">
    </div>
  </ion-content>
</ion-view>

<script id="load-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Load program <i class="glyphicon glyphicon-remove-sign padding" on-tap="closeModal(1)"></i></h1>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">

        <div class="item item-divider">
          Presets
        </div>
        <ion-item ng-repeat="preset in presets track by $index" on-tap="loadPreset($index)" class="loadItems">
          {{preset.titlePreset}}
        </ion-item>

        <div class="item item-divider">
          Your programs
        </div>
        <ion-item ng-repeat="userProgram in userPrograms track by $index"  class="loadItems">
          <div class="userProgramName" on-tap="loadUserProgram($index)">{{userProgram.title}}</div> <div class="delete-userProgram" on-tap="deleteUserProgram($index)"><i class="glyphicon glyphicon-remove"></i> </div>
        </ion-item>
        <ion-item ng-show="!userPrograms.length">
          No programs have been saved yet
        </ion-item>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="save-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Save program<i class="glyphicon glyphicon-remove-sign padding" on-tap="closeModal(2)"></i></h1>
    </ion-header-bar>
    <ion-content class="padding">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Program name</span>
        <input type="text" placeholder="Example: My first program" ng-model="currentProgram.title" >
      </label>
      <button class="button button-balanced" on-tap="saveProgram()">Save program</button>
    </ion-content>
  </ion-modal-view>
</script>


