<ion-view>
  <ion-nav-title>
    Run Bluetooth program <img src="./img/icon.png" class="logo">
  </ion-nav-title>
  <ion-content>

    <error-header
      ng-controller="errorController"
      ng-show="showErrorHeader === true"
    ></error-header>

    <div class="row bluetooth-row">
      <div class="col col-center" >
        <div class="item item-divider">
          <p class="bluetooth-text log-text">Connection status</p>
          <button class="button button-small button-calm button-log" on-tap="openHelpModal()">
            Help
          </button>
          <button class="button button-small button-assertive button-log" ng-show="isConnected" on-tap="userDisconnect()" ui-sref="app.bluetoothConnection">
            Disconnect
          </button>
          <button class="button button-small button-calm button-log" ng-hide="isConnected" ui-sref="app.bluetoothConnection">
            Connect to a device
          </button>
        </div>

        <connection-status
          ng-controller="connectionStatusCtrl"
        ></connection-status>

        <div class="item item-divider" ng-show="isConnected || !bluetoothEnabled">
          <p class="bluetooth-text log-text">Control buttons</p>
        </div>
        <div class="item item-text-wrap" ng-show="!bluetoothEnabled">
          <button class="button button-calm" ng-hide="bluetoothEnabled" ui-sref="app.bluetoothConnection">Turn on Bluetooth</button>
        </div>
        <div class="item item-text-wrap" ng-show="!isConnected">
          <button class="button button-calm" ng-hide="isConnected" ui-sref="app.bluetoothConnection">Connect to a device</button>
        </div>
        <div class="item item-text-wrap" ng-show="isConnected">
          <button class="button button-assertive" ng-show="buttons.showEmergency" on-tap="emergencyOn()">Stop</button>
          <button class="button button-energized" ng-show="buttons.readyForData" on-tap="start()">Move to start position</button>
          <button class="button button-energized" ng-show="buttons.showMovingButton" on-tap="startMoving()">Make movement {{movementsNum+1}}/{{movements.length}}</button>
          <button class="button button-calm" ng-show="buttons.showCalcButton" on-tap="calcSteps()">Calculate cuts</button>
          <button class="button button-positive" ng-show="buttons.showResetButton" on-tap="emergencyOff()">Reset program</button>
          <br><ion-spinner ng-show="buttons.showSpinner"></ion-spinner>
          <progress ng-show="buttons.showProgress" max="100" value="{{progress}}" id="ft-prog"></progress>
        </div>
        <div class="item item-divider">
          <p class="bluetooth-text log-text">Activity log</p>
          <button class="button button-small button-calm button-log" on-tap="showFullLog()">Show full log</button>
        </div>
        <div class="item item-text-wrap">
          <p class="bluetooth-text" ng-repeat="message in bluetoothLog | limitTo: 10 track by $index ">
            {{message}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


<modals></modals>
