<ion-view view-title="Safety" name="app.safety" cache-view="false">
  <ion-content>
    <h1>Safety</h1>
    <div class="card">
      <div class="item item-divider">

      </div>
      <div class="item item-text-wrap text-justify">
        <h4>Dear customer, before you start using the program in your application, please read this note on safety, health and responsibilities.</h4>
        <div class="padding">
          <button class="button button-calm" id="start-safety-slide" ui-sref="app.safety-slide">Start the safety instructions</button>

        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
