<ion-view view-title="Safety instructions" name="app.safety-slide" >
  <ion-content>
    <div class="card"  id="safety-slide-card" ng-swipe-left="swipeRightToLeft()" >
      <div class="item item-divider">
          {{slides[i]}}
      </div>

      <div class="item item-text-wrap text-justify">
        <div ng-show="i === 0">
          <div class="safety-text">
            <p>Dear customer, before you start using the program in your application, please read this note on safety, health and responsibilities.</p>
          </div>
        </div>
        <div ng-show="i===1">
          <div class="safety-text"><p>Toothmaster contains functionality that can be used in an application/ product to make a very precise wood joint <b>(mortise tenon connection.)</b> You will have to add other components or jiggs to saw or mill a <b>mortise tenon connection.</b> You might even have to make modifications to your existing machinery.</p>
            <br><p><strong>For this reason we cannot take the responsibility that your solution will be safe and complies with all norms/ directives.</strong></p>
            <br><p>When using the Toothmaster app with a step motor and trapezium spindle, you will have to take the hazards explained below into account.</p>
          </div>
        </div>
        <div ng-show="i===2">
            <div class="safety-text">
              <p>You will use Toothmaster to create precise movements in order to enable an operator to make a precision cut. There is a chance (explained later) that there will be unexpected movements while the operator makes the cut. These movements could lead to damage to persons, your workpiece or machinery. For this reason, you might have to take additional safety measures.</p>
            </div>
        </div>
          <div ng-show="i===3">
            <div class="item item-text-wrap row" ng-repeat="slide in slide3">
              <div class="warning-sign col-20 col-center">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
              </div>
              <div class="safety-text col-75" >
                <p>{{slide}}</p>
              </div>
            </div>
          </div>
        <div ng-show="i===4">
          <div class="safety-text text-slide-4">
            <p>To stress once more, the Toothmaster program and OS environment might generate unexpected movements.
            <br><br>Thus you might need extra safety precautions. Do NEVER trust the Toothmaster and OS environment alone!
            <br><br>Please take the following failure modes into account (even though the chances will be small that this will happen in reality):</p>
          </div>
          <div class="item item-text-wrap row" ng-repeat="slide in slide4">
            <div class="warning-sign col-center col-20">
              <i class="glyphicon glyphicon-exclamation-sign red-warning"></i>
            </div>
            <div class="safety-text col-75">
              <p>{{slide}}</p>
            </div>
          </div>
        </div>
        <div ng-show="i===5">
          <div class="item item-text-wrap row slide5" ng-repeat="slide in slide5">
            <div class="warning-sign col-center col-20">
              <i class="glyphicon glyphicon-ok-sign"></i>
            </div>
            <div class="safety-text col-75 main">
              <p>{{slide.main}}</p>
              <div class="safety-recommendation">
                <p class="safety-recommendation-text sub"> {{slide.sub}} </p>
                <p class="safety-recommendation-text sub"> {{slide.sub2}} </p>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="i===6">
          <div class="safety-text">
            <p>We strongly advice you to at least introduce a safety switch (can also be ordered at goodlife.nu) to switch of power to the step motor when you are making a precision cut (Click scheme button on this page and watch movies/ tutorials on www.Goodlife.nu).  Please note that taking sufficient safety measures is your choice. For example you could also decide to use a momentary switch from a refrigerator door if you think this is sufficient safe and reliable for your application. If you do not use a safety switch, clamp your workpiece so that inadvertent movement is impossible. Or do both, clamping and safety switch.</p>
          </div>
        </div>
        <div ng-show="i===7">
          <div class="safety-text">
            <p>There is always the question when is safe sufficiently safe. This depends on the region in the world. In the Eu there are many norms that guarantee health and safety. You could consider complying with the machines directive, the EMC directive and the ATEX directive. Complying with these standards is costly.<br><br>Be aware that we cannot take responsibility for complying with all these norms because we only deliver components and no complete solution. YOU have to think carefully if what you want to do is safe and in agreement with norms/ directives. You can find some examples on www.goodlife.nu of how you can make relatively safe mortise tenon connections. This might not be sufficient to comply with all norms in your situation/ country.<br><br>Now that you know your responsibilities and Tootmaster limitations, cllick the button below and enjoy !</p>
          </div>
        </div>
      </div>
    </div>

    <div id="safety-slide-buttons-div">
        <button ng-hide="prevHide()" class="button button-calm" id="prev-safety-slide" on-tap="prev()"><i class="glyphicon glyphicon-chevron-left"></i>Prev</button>
        <button ng-hide="nextHide()" class="button button-calm" id="next-safety-slide" on-tap="next()">Next<i class="glyphicon glyphicon-chevron-right"></i></button>
        <button ng-hide="safetyReadHide()" class="button button-balanced" id="safety-read-button" on-tap="setLocalStorageSafety()" ui-sref="app.home">I have read the safety instructions<i class="glyphicon glyphicon-ok"></i></button>
    </div>

    <div id="scheme-div" class="padding"><button ng-show="showScheme()" class="button button-balanced" id="show-scheme-button" on-tap="openModal()">Show Mortise tenon scheme</button></div>
  </ion-content>
</ion-view>

<script id="scheme-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Mortise tenon application <i class="glyphicon glyphicon-remove-sign padding" on-tap="closeModal()"></i></h1>

    </ion-header-bar>
    <ion-content class="padding">
      <img class="img-responsive" src="img/toothmaster-scheme.png" id="toothmaster-scheme">
    </ion-content>
  </ion-modal-view>
</script>
