<ion-view view-title="Safety instructions" name="app.safety-slide" cache-view="false">
  <ion-content>
    <div class="card"  id="safety-slide-card" on-swipe-left="swipeRightToLeft()" >
      <div class="item item-divider">
          {{slides[i].title}}

      </div>
      <div class="item item-text-wrap text-justify" ng-bind-html="trustAsHtml(slides[i].description)">


      </div>
    </div>
    <div id="safety-slide-buttons-div">
        <button ng-hide="prevHide()" class="button button-calm" id="prev-safety-slide" on-tap="prev()"><i class="glyphicon glyphicon-chevron-left"></i>Prev</button>
        <button ng-hide="nextHide()" class="button button-calm" id="next-safety-slide" on-tap="next()">Next<i class="glyphicon glyphicon-chevron-right"></i></button>
        <button ng-hide="safetyReadHide()" class="button button-balanced" id="safety-read-button" on-tap="setLocalStorageSafety()" ui-sref="app.home">I have read the safety instructions<i class="glyphicon glyphicon-ok"></i></button>
    </div>
    <div id="scheme-div" class="padding"><button ng-show="showScheme()" class="button button-balanced" id="show-scheme-button" on-tap="openModal()">Show Mortise tenon scheme</button></div>
  </ion-content>
</ion-view>

<script id="scheme-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Mortise tenon application <i class="glyphicon glyphicon-remove-sign padding" on-tap="closeModal()"></i></h1>

    </ion-header-bar>
    <ion-content class="padding">
      <img class="img-responsive" src="img/toothmaster-scheme.png" id="toothmaster-scheme">
    </ion-content>
  </ion-modal-view>
</script>
