/* all templates */

ion-content {
  text-align: center;
}

.popup {
  width: 300px !important;
}

/* menu.html */

.nav-align-left {
  text-align: left;
}

/*Safety-slide.html*/

.card {
  min-height: 200px;
}

#warning {
  font-size: 1.2em;
  color: red;
}

.warning-sign {
  float:left;
  font-size: 2em;
  margin-right: 15px;
}

.item-text-wrap {
  margin-bottom: 15px;
}

.item {
  overflow: hidden;
}

.text-slide-4{
  margin-bottom: 15px;
}

.glyphicon-exclamation-sign {

  color: #ffbb59;
}

.red-warning {
  color: red;
}

.glyphicon-ok-sign {
  color: green;
}



#safety-slide-buttons-div {
  text-align: center;
}

.remove-button {
  float: right;
}

.sub{
  font-size: 0.8em !important;
  margin-top: 15px;
  width: 90%;
  float: right;
}



/*home.html*/

label {
  text-align: left;
}

/*program.html*/

.loadItems {
  text-align: left;
}

.userProgramName {
  float: left;
  width: 75%;
}

.delete-userProgram {
  float:right;
  text-align: right;
}

.redText {
  color: white !important;
  background-color: rgba(255,0,0,0.7) !important;
}

.output-button{
  float: left;
}

button, .icon {
  vertical-align: middle !important;
}

/* register.html */
.codeInput {
  width: 100%;
}

.link {
  color: blue;
}


/* runBluetooth.html */
.bluetooth-icon {
  float: left;

}

.bluetooth-row {
  margin: 0px !important;
}

