/* Empty. Add your own CSS if you like */

ion-content {
  text-align: center;
}

/*Safety.html*/

.card {
  min-height: 200px;
}

#warning {
  font-size: 1.2em;
  color: red;
}

.warning-sign {
  float:left;
  font-size: 2em;
  margin-right: 15px;


}
.item {
  overflow: hidden;

}

.glyphicon-exclamation-sign {
  padding-top:5px;
  color: #ffbb59;
}

.red-warning {
  color: red;
}

.glyphicon-ok-sign {
  color: green;
}

.padding {
  text-align: center;
}

#safety-slide-buttons-div {
  text-align: center;
}

.remove-button {
  float: right;
}

/*home.html*/

label {
  text-align: left;
}

/*program.html*/

.loadItems {
  text-align: left;
}

.userProgramName {
  float: left;
  width: 75%;
}

.delete-userProgram {
  float:right;
  text-align: right;
}

.redText {
  color: white !important;
  background-color: rgba(255,0,0,0.7) !important;
}
