/* all templates */

ion-content {
  text-align: center;
}

.popup {
  width: 300px !important;
}

/* menu.html */

.nav-align-left {
  text-align: left;
}

/*Safety-slide.html*/

.card {
  min-height: 200px;
  padding: 0px !important;
}

#warning {
  font-size: 1.2em;
  color: red;
}

.warning-sign {
  float:left;
  font-size: 2em;
  margin-right: 15px;
}

.item-text-wrap {
  margin-bottom: 0px;
}

.item {
  overflow: hidden;
}

.text-slide-4{
  margin-bottom: 15px;
}

.glyphicon-exclamation-sign {

  color: #ffbb59;
}

.red-warning {
  color: red;
}

.glyphicon-ok {
  color: green;
}



#safety-slide-buttons-div {
  text-align: center;
}

.remove-button {
  float: right;
}

.sub{
  font-size: 0.8em !important;
  margin-top: 15px;
  width: 90%;
  float: right;
}



/*home.html*/

label {
  text-align: left;
  margin: -1px !important;
}

/*program.html*/

.loadItems {
  text-align: left;
}

.userProgramName {
  float: left;
  width: 75%;
}

.delete-userProgram {
  float:right;
  text-align: right;
}

.redText {
  color: white !important;
  background-color: rgba(255,0,0,0.7) !important;
}

.output-button{
  float: left;
}

button, .icon {
  vertical-align: middle !important;
}

/* register.html */
.codeInput {
  width: 100%;
}

.link {
  color: blue;
}


/* runBluetooth.html */
.bluetooth-icon {
  float: left;
  height: 100%;
  color: red;
  font-size: 2em;
}

.bg-green {
  color: green !important;
}

.bluetooth-row {
  margin: 0px !important;
}

.ion-alert-circled {
  color: red;
}

.ion-checkmark {
  color: green;
}

.align-left {
  text-align: left;
}

.margins {
  margin: 10px;
}

.margin-top {
  margin-top: 15px;
}

.logo {
  margin-top: 10px;
  height: 25px;
  width: 25px;
  float: right;
}

.logo-menu {
  margin-top: 5px;
  height: 25px;
  width: 25px;

}

.log-div {
  display: inline-block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.log-text {
  float: left;
  margin-top: 8px;
}

.button-log {
  float: right;
  margin-left: 1em;
}

iframe {
  height: 100%;
  width: 100%
}

.height-10 {
  height: 10%;
}

.height-80 {
  height: 90%;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.align-right {
  float: right;
}

/*bluetoothConnection.html*/
#bluetooth-available-devices-div .bluetooth-text,
#bluetooth-paired-devices-div .bluetooth-text {
  display: inline;
}

#bluetooth-available-devices-div .bluetooth-connect-button,
#bluetooth-paired-devices-div .bluetooth-connect-button {
  float: right
}

/*errorHeader.html*/
#error-header-wrapper {
  position: relative !important;
  -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.5s;

  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;

  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@-moz-keyframes dropHeader {
  0% {
    -moz-transform: translateY(-40px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-webkit-keyframes dropHeader {
  0% {
    -webkit-transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes dropHeader {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
